name: Start locally (self-hosted)

on:
  workflow_dispatch:
    inputs:
      service:
        description: "What to start?"
        required: true
        default: "streamlit"
        type: choice
        options:
          - streamlit_chatbot_py
          - streamlit_streamlit_app_py
          - uvicorn_fastapi

jobs:
  run-local:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run selected service
        shell: bash
        run: |
          set -e

          if [ "${{ inputs.service }}" = "streamlit_chatbot_py" ]; then
            python -m streamlit run Chatbot.py --server.address 0.0.0.0 --server.port 8501

          elif [ "${{ inputs.service }}" = "streamlit_streamlit_app_py" ]; then
            python -m streamlit run streamlit_app.py --server.address 0.0.0.0 --server.port 8501

          elif [ "${{ inputs.service }}" = "uvicorn_fastapi" ]; then
            python -m uvicorn app:app --reload --host 0.0.0.0 --port 8000

          else
            echo "Unknown selection"
            exit 1
          fi
